@import "tailwindcss";

:root {
  /* Base */
  --text-base: 16px;

  /* Headings */
  --h1: clamp(2.25rem, 3vw,3rem);    /* 36 → 48 */
  --h2: clamp(1.75rem, 3vw, 2.25rem); /* 28 → 36 */
  --h3: 1.5rem;                      /* 24 */
  --h4: 1.25rem;                     /* 20 */

  /* Text */
  --text-lg: 1.125rem; /* 18 */
  --text-md: 1rem;     /* 16 */
  --text-sm: 0.875rem; /* 14 */
  --text-xs: 0.75rem;  /* 12 */

  /* font-family */
    --font-en: 'Manrope', system-ui, sans-serif;
  --font-km: 'Noto Sans Khmer', system-ui, sans-serif;
}
html[lang="en"] {
  font-size: var(--text-base);
  font-family: var(--font-en);
}

html[lang="km"] {
  font-size: var(--text-base);
  font-family: var(--font-km);
}


body {
  font-size: var(--text-md);
  line-height: 1.6;
  color: #111;
}

/* Headings */
h1 {
  font-size: var(--h1);
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}

h4 {
  font-size: var(--h4);
  font-weight: 600;
}

/* Text */
p, span, li {
  font-size: var(--text-md);
}

small {
  font-size: var(--text-sm);
}


.font-en {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-km {
  font-family: "Noto Sans Khmer", system-ui, sans-serif;
  line-height: 1.8;
}

